/*  font-family: 'Alkatra', cursive; 
    font-family: 'Delicious Handrawn', cursive;*/

h1{
    font-family: 'Alkatra', cursive;
}

h2{
    font-family: 'Delicious Handrawn', cursive;
}

p{
    font-family: 'Delicious Handrawn', cursive;
}