/*  font-family: 'Alkatra', cursive; 
    font-family: 'Delicious Handrawn', cursive;*/

h1{
    font-family: 'Alkatra', cursive;
}

h2{
    font-family: 'Delicious Handrawn', cursive;
}

p{
    font-family: 'Delicious Handrawn', cursive;
}

h1 i::before{
    font-size: 6rem;
    color: cornflowerblue;
}

.fa-code{
    font-size: 1rem;
    color: yellow;
}

.map iframe{
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}